<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }} {{ form.email() }}
    </div>
    <div>
        {{ form.password.label }} {{ form.password() }}
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<style>
    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        border: none;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 5px;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
